body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

.my-body {
  position: relative;
  width: 100%;
  height: 100%;
}

.MAIN {
  width: 100%;
}

.index-content {
  width: 100%;
}

.main-wrapper {
  width: 98%;
  max-width: 1220px;
  margin: 0 auto;
}

h1 {
  margin: 0;
}

.my-body {
  .modal-frame {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    min-height: 100%;
    overflow: auto; 
    background-color: #00000073;
  }
}

#sign {
  display: none;
}

.my-body.signin {
  .modal-frame.signin-frame {
    display: block;
  }
}

.my-body.signup {
  .modal-frame.signup-frame {
    display: block;
  }
}

.my-body.recovery {
  .modal-frame.recovery-frame {
    display: block;
  }
}

.modal-frame-wrapper {
  width: 100%;
}

.modal-frame-form {
  width: 98%;
  max-width: 340px;
  margin: 20% auto 0; // background-color: #2d2f79a8;
  text-align: center;
  border-radius: 3px; // padding: 25px;
}

.modal-frame-wrapper-fields {
  width: 72%;
  margin: 0 auto;
}

.modal-frame-form__title {
  font-family: Biko;
  text-transform: uppercase;
  font-size: 2.4em;
  color: white;
  letter-spacing: 14px;
  &_padd-b {
    padding-bottom: 30px;
  }
}

.modal-frame-form__fields {
  width: 100%;
  padding-bottom: 20px;
}

.modal-frame-form__input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 5px;
  &::-moz-placeholder {
    color: whitesmoke;
  }
  &::-webkit-input-placeholder {
    color: whitesmoke;
  }
}

.modal-frame-form__button {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 35px;
  color: whitesmoke;
  margin-top: 15px;
  cursor: pointer;
}

// ===============HEADER
.header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  padding: 20px 45px;
}

.header-menu-list {
  padding: 0;
  margin: 0;
  list-style: 0;
  display: flex;
  align-items: center;
}

.header-menu-list {
  list-style: none;
}

.header-menu-list__item {
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
}

.header-menu-list__link {
  color: black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.arr-to-bottom-block__wrapper {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 18px;
}