/*@LOGO FONTS*/
@font-face {
  font-family: 'megrim';
  src: url('assets/fonts/Megrim.ttf') format('ttf'),
       url('assets/fonts/Megrim.woff') format('woff'),
       url('assets/fonts/Megrim.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
